.idea

dwm/config.h
dwm/dwm
dwm/*.o

slstatus/config.h
slstatus/slstatus
slstatus/*.o
slstatus/components/
!slstatus/components/battery.c

dmenu/config.h
dmenu/dmenu
dmenu/*.o
dmenu/stest

slock/config.h
slock/slock
slock/*.o
